.font-cursive {
    font-family: 'Cursive-Coneria';
    color: orange;
    text-shadow: 3px 3px 6px #000033;
  }

.image-space {
  max-width:100%;
  max-height:100%;
}

.crop-container {
  width: 100%; /* Adjust the desired width here */
  height: 75%; /* Adjust the desired height here */
  overflow: hidden;
}

.crop-image {
  background-image: url('/images/portrait/modern1.png'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}


@keyframes shimmy-animationX1 {
  0% { transform: translateX(0); }
  33% { transform: translateX(10px) translateY(5px) rotate(-3deg); }
  66% { transform: translateX(5px) translateY(10px) rotate(3deg); }
  100% { transform: translateX(0); }
} 
@keyframes shimmy-animationX2 {
  0% { transform: translateX(0); }
  33% { transform: translateX(-10px) translateY(5px) rotate(3deg);  }
  66% { transform: translateX(-5px) translateY(-7px) rotate(-3deg);  }
  100% { transform: translateX(0) rotate(0deg); }
}
@keyframes shimmy-animationX3 {
  0% { transform: translateX(0); }
  25% { transform: translateX(-7px) translateY(3px) rotate(-1deg);  }
  25% { transform: translateX(-15px) translateY(7px) rotate(3deg);  }
  75% { transform: translateX(-7px) translateY(-2px) rotate(1deg);  }
  100% { transform: translateX(0) rotate(0deg); }
}
@keyframes shimmy-animationY1 {
  0% { transform: translateY(0); }
  33% { transform: translateY(5px) translateX(-5px) rotate(-3deg); }
  66% { transform: translateY(10px) translateX(-8px) rotate(3deg); }
  100% { transform: translateY(0); }
}
@keyframes shimmy-animationY2 {
  0% { transform: translateY(0); }
  33% { transform: translateY(-5px) translateX(5px) rotate(3deg); }
  66% { transform: translateY(-10px) translateX(-5px) rotate(-3deg); }
  100% { transform: translateY(0); }
}
@keyframes shimmy-animationY3 {
  0% { transform: translateY(0); }
  25% { transform: translateY(-7px) translateX(-2px) rotate(1deg); }
  50% { transform: translateY(-15px) translateX(8px) rotate(-3deg); }
  75% { transform: translateY(-7px) translateX(3px) rotate(-1deg); }
  100% { transform: translateY(0); }
}

.shimmy-1 {
  animation: shimmy-animationX1 12s infinite; 
  animation-timing-function: ease-in-out;
}
.shimmy-2 {
  animation: shimmy-animationX2 13s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-3 {
  animation: shimmy-animationY1 11s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-4 {
  animation: shimmy-animationY2 14s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-5 {
  animation: shimmy-animationX1 15s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-6 {
  animation: shimmy-animationX2 16s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-7 {
  animation: shimmy-animationY1 9s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-8 {
  animation: shimmy-animationY2 17s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-9 {
  animation: shimmy-animationX3 18s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-10 {
  animation: shimmy-animationX3 12s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-11 {
  animation: shimmy-animationY3 19s infinite;
  animation-timing-function: ease-in-out;
}
.shimmy-12 {
  animation: shimmy-animationY3 13s infinite;
  animation-timing-function: ease-in-out;
}